body {color: black; background-image: url(wall.jpg); margin: 0; padding: 0;}

table {width: 100%; margin: 0; padding: 0; font-size: 12px}
table td {padding: 0; border-width: 0; vertical-align: top; font-family: Verdana, Arial, Helvetica, sans-serif;}

a {color: #55331A; text-decoration: none; font-weight: bold; background-color: transparent;}
a:hover {color: #ff6600;}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #4A3108;}


.item {border: 1px solid #55331A;}
.itemHead {padding: 3px; background-color: #55331A; color: #FFFFFF;}
.itemInfo {text-align: right; padding: 3px; background-color: #E6D2AF;}
.itemTitle a {font-size: 130%; font-weight: bold; font-variant: small-caps; color: #ffffff; background-color: transparent;}
.itemPoster {font-size: 90%;}
.itemPostDate {font-size: 90%;}
.itemStats {font-size: 90%;}
.itemBody {padding-left: 15px;background-color: #FFF3D0;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-color: #CCAA8F;}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%; font-style:italic;}

th {background-color: #4A3108; color: #FFFFFF; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}

td#header1 {background: #FFFFFF;border-bottom: 1px solid #66442B;}
td#header2 {background: #99775E;text-align: right; vertical-align:top; border-bottom: 1px solid #66442B;}
td#header3 {background: #88664D;text-align: right; vertical-align:bottom; border-bottom: 1px solid #66442B;}
td#headerbar {background: #55331A; color: #FFFFFF;}


td#leftcolumn {width: 170px; font-size:12px; border: 1px solid #55331A;}
td#leftcolumn th {background-color: #55331A; color: #FFFFFF; vertical-align: middle;}
td#leftcolumn div.blockTitle {padding: 3px; background-color: #4A3108; color: #FFCE08; font-weight: bold; vertical-align:middle;}
td#leftcolumn div.blockContent {background-color: transparent; padding: 1px 2px 2px 15px; line-height: 120%;}

td#mainmenu a {background-color: transparent; display: block; margin: 0; padding: 2px;}
td#mainmenu a:hover {background-color: #ffffff;}
td#mainmenu a.menuTop {padding-left: 0px;}
td#mainmenu a.menuMain {padding-left: 0px;}
td#mainmenu a.menuSub {padding-left: 10px;}

td#usermenu a {background-color: transparent; display: block; margin: 0; margin: 0; padding: 1px 2px 2px 0px;}
td#usermenu a:hover {background-color: #ffffff;}
td#usermenu a.menuTop {padding-left: 0px;}
td#usermenu a.highlight {background-color: #fcc;}

td#rightcolumn {width: 170px; border: 1px solid #55331A; font-size:12px;}
td#rightcolumn th {background-color: #55331A; color: #FFFFFF; vertical-align: middle;}
td#rightcolumn div.blockTitle {padding: 3px; background-color: #4A3108; color: #FFCE08; font-weight: bold; vertical-align: middle;}
td#rightcolumn div.blockContent {padding: 1px 2px 2px 15px; line-height: 120%;}


td#centercolumn {font-size: 12px;}

td#centercolumn th {background-color: #55331A; color: #FFFFFF; vertical-align: middle;}
td#centerCcolumn {padding: 0px 3px 1px 3px;}
td#centerCcolumn legend.blockTitle {padding: 3px; color: #4A3108; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;}
td#centerCcolumn div.blockContent {border-left: 1px solid #4A3108; border-right: 1px solid #4A3108; border-bottom: 1px solid #4A3108; padding: 3px; margin-right: 0px;  margin-left: 0px; margin-bottom: 2px; line-height: 120%;background-color: #FFF3D0;}

td#centerLcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerLcolumn legend.blockTitle {padding: 3px; color: #4A3108; font-weight: bold; margin-top: 0px;}
td#centerLcolumn div.blockContent {border-left: 1px solid #4A3108; border-right: 1px solid #4A3108; border-bottom: 1px solid #4A3108; padding: 3px; margin-left: 3px; margin-right: 2px; margin-bottom: 2px; line-height: 120%;background-color: #FFF3D0;}

td#centerRcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerRcolumn legend.blockTitle {padding: 3px; color: #4A3108; font-weight: bold; margin-top: 0px;}
td#centerRcolumn div.blockContent {border-left: 1px solid #4A3108; border-right: 1px solid #4A3108; border-bottom: 1px solid #4A3108; padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 120%;background-color: #FFF3D0;}

div#content {text-align: left; padding: 8px;}

tr#footerbar {text-align:center; background-color: #55331A; color:#fff3D0;}

.outer {border: 1px solid #4A3108;}
.outer a{color:#FFFFFF;}
.head {background-color: #99775E; padding: 5px; font-weight: bold; border-bottom:1px solid #4A3108;}
.even {background-color: #DDD12B0; padding: 5px;}
.even a{color: #55331A;}
.odd {background-color: #FFF3D0; padding: 5px;}
.odd a{color: #55331A;}
.foot {background-color: #E6D2AF; padding: 5px; font-weight: bold; border-top:1px solid #4A3108;}
tr.even td {background-color: #DDD12B0; padding: 5px;}
tr.odd td {background-color: #FFF3D0; padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}


.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #2F5376; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2F5376; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}